@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Tacovela.MVC.Core.Extensions;
@using Tacovela.MVC.Models.Authentication;

@{
    var userSession = SessionExtension.GetObjectFromJson<LoginUserViewModel>(HttpContextAccessor.HttpContext.Session, "UserSession");
}

<!-- Nav Item - User Information -->
<li class="nav-item dropdown no-arrow">

    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-lg-inline text-white small" style="font-size:1rem">@String.Concat(userSession.FisrtName, " ", userSession.LastName)</span>
        <img class="img-profile rounded-circle" src="@userSession.ImageProfile">
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        @if (userSession.Type == (int)Tacovela.MVC.Core.Enums.UserType.Client)
        {
            <a class="dropdown-item" href="@Url.Action("List","Order")">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Historial Pedido
            </a>
        }

        <a class="dropdown-item" href="@Url.Action("EditProfile","User")">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Perfil
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item btn-open-modal" href="#" data-toggle="modal" data-target="#mdl-global" data-view="@Url.Action("Logout","Home")">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Cerrar Sesión
        </a>
    </div>
</li>