@{
    @model Tacovela.MVC.Models.Order.ShopViewModel
}
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">


    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
        <div class="filter-toggle"><span class="filter-toggle-text">Categories By</span><i class="icon-chevron-down"></i></div><div class="filter-wrapper">
            <div class="categories-menu">
                <h6><i class="fa fa-utensils"></i>Categorias</h6>
                <ul class="menu-list">
                    <li @if (Model.FilterCategory == Guid.Empty || Model.FilterCategory == null) { @("class=active")  }>
                        <a href="@Url.Action("Index","Order", new { id = Guid.Empty })" class="menu-category-link" data-id="0">Todo</a>
                    </li>
                    @foreach (var item in Model.Categories)
                    {
                        <li @if (Model.FilterCategory == item.Id) { @("class=active")  }><a href="@Url.Action("Index","Order", new { id = item.Id })" class="menu-category-link" data-id="@Model.Categories.IndexOf(item)">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>