
@{
    ViewData["Title"] = "Pedido";
    Layout = "_OrderLayout";
    @model Tacovela.MVC.Models.Order.ShopViewModel
}
@section Styles{
    <style type="text/css">
        .tabs-holder .tab-content {
            background-color: #fff;
        }

        .tabs-holder .nav-tabs li:first-child {
            border: 1px solid #d1d3e2;
            border-bottom: 1px solid white;
        }

        .user-order {
            border: 1px solid #d1d3e2;
            border-radius: 3px;
        }

        .tabs-holder .tab-content {
            border: 1px solid #d1d3e2;
        }
    </style>
    <link href="~/css/order.css" rel="stylesheet" />

}


<div class="row" style="transform: none;">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 p-0">
        <div asp-msg-tempdata="None"></div>
    </div>

    <div class="section-fullwidth col-lg-12 col-md-12 col-sm-12 col-xs-12" style="transform: none;">
        <div class="row" style="transform: none;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="transform: none;">
                <div class="row" style="transform: none;">

                    @{
                        await Html.RenderPartialAsync("_CategorySideBar", Model);
                    }
                    <div class="col-lg-7 col-md-7 col-sm-9 col-xs-12">
                        <!--Tabs Start-->
                        <div class="tabs-holder horizontal" style="height: auto;">
                            <ul class="stickynav-tabs nav nav-tabs" style="position: relative; width: 652px; top: auto;">
                                <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-concierge-bell"></i>Menú</a></li>

                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active show">
                                    <div class="menu-itam-holder" style="height: auto;">
                                        <div class="field-holder sticky-search" style="position: relative; top: auto;">
                                            <input id="menu-srch-1704" data-id="1704" class="input-field dev-menu-search-field" type="text" placeholder="Buscar...">
                                        </div>
                                        <div id="menu-item-list-1704" class="menu-itam-list">
                                            @{

                                                var list = new List<Tacovela.MVC.Models.Category.CategoryViewModel>();

                                                if (Model.FilterCategory == Guid.Empty || Model.FilterCategory == null)
                                                {
                                                    list = Model.Categories;
                                                }
                                                else
                                                {
                                                    list = Model.Categories.Where(w => w.Id == Model.FilterCategory.Value).ToList();
                                                }
                                            }

                                            @foreach (var item in list)
                                            {
                                                <div class="element-title" id="menu-category-@item.Id">
                                                    <h5 class="text-color">@item.Name</h5>
                                                </div>
                                                <ul>
                                                    @foreach (var subItem in item.Products)
                                                    {
                                                        <li>

                                                            <div class="image-holder">
                                                                <a href="#" rel="prettyPhoto">


                                                                    @if (string.IsNullOrEmpty(subItem.UrlImage))
                                                                    {
                                                                        @*<img src="//placehold.it/200" class="img-cover img-max-200" alt="avatar" id="img-profile" />*@
                                                                        <img src="//placehold.it/200" class="img-cover img-max-65">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="@string.Concat("https://files.tacovela.com", subItem.UrlImage)" class="img-cover img-max-65" />
                                                                    }
                                                                </a>
                                                            </div>
                                                            <div class="text-holder">
                                                                <h6>@subItem.Name</h6>
                                                                <span>@subItem.Description</span>
                                                            </div>
                                                            <div class="price-holder">
                                                                <span class="price">
                                                                    $@subItem.Value
                                                                </span>
                                                                
                                                                <a href="@Url.Action("AddCard","Order", new { id = subItem.Id, categoryId = Model.FilterCategory })" class="restaurant-add-menu-btn restaurant-add-menu-btn-0" data-rid="1704" data-id="0" data-cid="0"><i class="fa fa-plus"></i></a>
                                                                <span id="add-menu-loader-0"></span>
                                                            </div>
                                                        </li>
                                                    }

                                                </ul>
                                            }

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @{
                        await Html.RenderPartialAsync("_ShopSideBar", Model);
                    }
                </div>
            </div>
        </div><!-- end section row -->
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("a[rel^='prettyPhoto']").prettyPhoto();
        });
    </script>
}
