@{
    ViewData["Title"] = "Detalle Producto";
    @model Tacovela.MVC.Models.Product.ProductViewModel
    var urlFiles = "http://www.files.tacovela.com";

    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @using Tacovela.MVC.Core.Extensions;
    @using Tacovela.MVC.Models.Authentication;

    var userSession = SessionExtension.GetObjectFromJson<LoginUserViewModel>(HttpContextAccessor.HttpContext.Session, "UserSession");
    if (userSession.Type == (int)Tacovela.MVC.Core.Enums.UserType.Client)
    {
        Layout = "_OrderLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}


<style>
</style>

<form action="@Url.Action("Test","Order")">
    <input type="hidden" name="ingredienstArray" id="ingredienstArray"/>
    <input type="hidden" name="id" value="@Model.Id"/>
    <div class="container">
        <div class="row">
            <div id="modalOrdenar" class="widthTotal">
                <div class="container" data-specialtypizzaobj="0">

                    <div class="row" id="pizzaPackagesContainer">
                        <div class="col-12  col-sm-12 col-md-12">
                            <div class="row text-center">
                                <div class="col-12  col-sm-12 col-md-12">
                                    <h3 id="titleEspecialidad" class="titleEspecialidad">@Model.Name</h3>
                                </div>
                                <div class="col-12  col-sm-12 col-md-12 subTitleEspecialidadDiv">
                                    <h5 id="subTitleEspecialidad" class="subTitleEspecialidad">@Model.Description</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-sm-12 col-md-12"><hr style="border-top: 2px solid #006391;"></div>
                        <div class="col-md-3 d-none d-sm-block " style="padding: 0px !important;">
                            <div class="row">
                                <div class="col-12 ml-4 pr-1 pr-sm-3 divImgIlustra" style="padding: 0px !important;">
                                    <img class="img-fluid borde-pizza-home imgProduct lazyload" src="@string.Concat(urlFiles, Model.UrlImage)" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3">
                            <div class="row mt-2 mb-2">
                                <div class="col-12 pl-1 pl-sm-3">
                                    <span class=" roboto-light spanOrder">@Model.Name</span>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-12 pl-1 pl-sm-3">
                                    <span class=" roboto-light spanOrder" style="color: #F44336;font-weight: bold;">$@Model.Value.ToString("g")</span>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-12 pl-1 pl-sm-3">
                                    <span class=" roboto-light spanOrder">@Model.Description</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">

                            <div class="col-12 col-sm-12 col-md-12">
                                <div class="text-center">
                                    <h4>Complementos</h4>
                                </div>
                                @foreach (var item in Model.ProductIngredients)
                                {
                                    <div class="row mt-12 mb-2">
                                        <div class="col-7 pl-1 pl-sm-3">
                                            <p class="mt-2 roboto-light spanOrder">@item.Ingredient.Name <strong style="color: #F44336;">+$@item.Ingredient.Value.Value</strong></p>
                                        </div>
                                        <div class="col-5 pl-1 pl-sm-3">
                                            <input class="input-ingredient" type="number" value="0" min="0" max="10" step="1" data-ingredientid="@item.Ingredient.Id" data-value="@item.Ingredient.Value" data-name="@item.Ingredient.Name" data-text="0" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12">
                            <hr style="border-top: 2px solid #006391;">
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 text-center">
                                    <span class=" roboto-light spanOrder">CANTIDAD</span>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 text-center d-flex justify-content-center">

                                    <input id="txt-product-quantity" name="prodictQuantity" type="number" value="1" min="1" max="10" step="1" />

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 pr-1 pr-sm-3 text-center mb-3">
                                    <span class="roboto-light spanOrder">TOTAL</span><br>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-md-6">
                                        <span class="roboto-light spanOrder inline">Complementos</span>

                                    </div>
                                    <div class="col-md-2">
                                        <span class="roboto-light spanOrder inline float-right">Cantidad</span>

                                    </div>
                                    <div class="col-md-4">
                                        <span class="roboto-light spanOrder inline float-right">Precio</span>

                                    </div>
                                    <hr class="mt-0 p-0" />

                                </div>
                                <hr />

                                <div id="totals-ingredients" class="col-md-12 p-0"></div>

                                <div class="col-12 col-sm-12 col-md-12">
                                    <hr style="border-top: 2px solid #006391;">
                                </div>

                                <div class="row col-md-12">
                                    <div class="col-md-9">
                                        <span class="roboto-light spanOrder inline float-right"><strong>SUB TOTAL:</strong></span>

                                    </div>
                                    <div class="col-md-3">
                                        <span class="roboto-light spanOrder inline float-right">$@Model.Value.ToString("g")</span>

                                    </div>
                                </div>
                                <hr />
                                @*<div class="row col-md-12">
                                        <div class="col-md-9">
                                            <span class="roboto-light spanOrder inline float-right"><strong>IVA:</strong></span>

                                        </div>
                                        <div class="col-md-3">
                                            <span class="roboto-light spanOrder inline float-right">$0.00</span>

                                        </div>
                                    </div>
                                    <hr />*@
                                <div class="row col-md-12">
                                    <div class="col-md-9">
                                        <span class="roboto-light spanOrder inline float-right"><strong>TOTAL:</strong></span>

                                    </div>
                                    <div class="col-md-3">
                                        <span class="roboto-light spanOrder inline float-right" id="lbl-total">$@Model.Value.ToString("g")</span>
                                    </div>
                                </div>
                                <hr />

                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12"><hr style="border-top: 2px solid #006391;"></div>
                    </div>
                    <div class="row justify-content-center align-items-center">

                        <div class="col-12 col-sm-12 col-md-12">
                            <div class="col-12 col-sm-12 col-md-12 float-right">
                                <button type="submit" id="btn-agregar-carrito" class="btn btn-primary float-right">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/vendor/input-spinner/bootstrap-input-spinner.js"></script>

    <script type="text/javascript">
        var ingredients = [];


        $("input[type='number']").inputSpinner();

        jQuery("#btn-agregar-carrito").click(function () {
            $('#ingredienstArray').val(JSON.stringify(ingredients));
        });

        var $changedInput = $(".input-ingredient");
        var $changedInputQuantityProduct = $("#txt-product-quantity");

        $changedInput.on("input", function (event) {
            //$valueOnInput.html($changedInput.val())
            var value = $(this).val();
            var valueOld = $(this).data('text');

            for (var i = 0; i < ingredients.length; i++) {
                var obj = ingredients[i];

                if ($(this).data('ingredientid').indexOf(obj.ingredientid) !== -1) {
                    ingredients.splice(i, 1);
                }
            }

            if (value != 0) {
                ingredients.push(
                    {
                        value: $(this).data('value'),
                        ingredientid: $(this).data('ingredientid'),
                        name: $(this).data('name'),
                        quantity: value
                    }
                );
            }
            $(this).data('text', value)

            CalculateCost();
        });

        $changedInputQuantityProduct.on("input", function (event) {
            CalculateCost();
        });


        function CalculateCost() {
            $('#totals-ingredients').empty();
            var totalIngredients = parseFloat('@Model.Value');
            var quantityProduct = parseInt($('#txt-product-quantity').val());

            $.each(ingredients, function (i, item, x) {
                totalIngredients += (parseFloat(item.value) * parseFloat(item.quantity));
                $('#totals-ingredients').append('<div class="row col-md-12">' +
                    '<div class= "col-md-6">' +
                    '<a href="javascript:void(0)" class="mr-2 btn-cross dev-remove-menu-item inline">' +
                    '    <i class="fa fa-times" style="color: #f44336"></i>' +
                    '</a>' +
                    '<span class="roboto-light spanOrder inline">' +  item.name + '</span>' +
                    '                </div>' +
                    '<div class="col-md-2">' +
                    '    <span class="roboto-light spanOrder inline float-right">X ' + item.quantity + '</span>' +
                    '</div>' +
                    '<div class="col-md-4">' +
                    '    <span class="roboto-light spanOrder inline float-right">$' + ((Math.round(parseFloat(item.value) * parseFloat(item.quantity) * 100) / 100).toFixed(2)) + '</span>' +
                    '</div>' +
                    '</div>');
            });

            $('#lbl-total').text('$' + ((Math.round(totalIngredients * 100) / 100) * quantityProduct).toFixed(2) );
        }
    </script>
}
