@{
    ViewData["Title"] = "Editar Producto";
    @model Tacovela.MVC.Models.Product.ProductViewModel
    var urlFiles = "http://www.files.tacovela.com";
}

<div class="card col-lg-12">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h1 class="h4 text-gray-900 mb-5">@ViewData["TypeView"]&nbsp;@ViewData["Title"]</h1>
                </div>
                <form class="user row" role="form" method="post" enctype="multipart/form-data" asp-action="Edit">
                    <div class="col-lg-6">
                        @*<div asp-valitadion-summary-custom="None"></div>*@
                        <div asp-msg-tempdata="None"></div>
                        <div class="form-group">
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <input asp-for="Name" type="text" class="form-control form-control-user" placeholder="Nombre" />
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <input asp-for="Description" type="text" class="form-control form-control-user" placeholder="Descripción" />
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="Value" class="text-danger"></span>
                            <input asp-for="Value" type="text" class="form-control form-control-user" placeholder="Precio" />
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control form-control-select" placeholder="Categoria"></select>
                        </div>
                        <div class="form-group text-uppercase">
                            <div class="custom-control custom-checkbox small" style="text-align: right">
                                <span asp-validation-for="IsActive" class="text-danger"></span>
                                <input asp-for="IsActive" type="checkbox" class="custom-control-input" id="customCheck" />
                                <label class="custom-control-label" for="customCheck">Producto Disponible</label>
                            </div>
                        </div>
                        <br />
                        <h6 class="center m-3 text-center" style="background-color: #E93F3A; padding: 10px; border-radius: 3px; color: white;">Subir Imagen</h6>
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="" style="margin: 1.25rem;">
                                    <div class="">
                                        <div>
                                            <a onclick="clearImage()" class="btn btn-danger btn-circle btn-sm" style="margin: 10px; position:absolute">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            @if (string.IsNullOrEmpty(Model.UrlImage))
                                            {
                                                <img src="//placehold.it/200" class="img-cover img-max-200" alt="avatar" id="img-profile" />
                                            }
                                            else
                                            {
                                                <img src="@string.Concat(urlFiles, Model.UrlImage)" class="img-cover img-max-200" alt="avatar" id="img-profile" />
                                            }
                                        </div>
                                        <div class="custom-file">
                                            <input asp-for="Image" type="file" class="custom-file-input" data-img-preview="img-profile" accept="image/*" style="opacity:initial">
                                            <input asp-for="UrlImage" type="hidden">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-uppercase pl-5">
                        <h1 class="h6 text-gray-500 mb-2">Activar ingredientes extras</h1>
                        @for (int i = 0; i < Model.ProductIngredients.Count; i++)
                        {
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    <input asp-for="ProductIngredients[i].Addable" type="checkbox" class="custom-control-input" id="@Model.ProductIngredients[i].IngredientId" />
                                    <input asp-for="ProductIngredients[i].Ingredient.Name" type="hidden" />
                                    <input asp-for="ProductIngredients[i].Ingredient.Value" type="hidden" />
                                    <input asp-for="ProductIngredients[i].Ingredient.Id" type="hidden" />
                                    <input asp-for="ProductIngredients[i].IngredientId" type="hidden" />
                                    <label class="custom-control-label" for="@Model.ProductIngredients[i].IngredientId">@Model.ProductIngredients[i].Ingredient.Name</label>
                                </div>
                            </div>
                        }
                    </div>
                    <br />
                    <br />
                    <div class="form-group p-4">
                        <input type="reset" class="btn btn-secondary" value="Cancelar" />
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function clearImage() {
        $("#img-profile").prop("src", "//placehold.it/200")
        $('input[name="UrlImage"]').val("");
    }

</script>